.attribution {
  font-size: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: hsl(185, 75%, 39%);
  margin: 0;
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-position: -250px -489px, 800px 450px;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
}

.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 350px;
  background-color: white;
  background-image: url(images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: 350px 140px;
  border-radius: 10%;
}

.center {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50%-150px);
}
.card > .info {
  text-align: center;
  border-bottom-style: inset;
  border-color: hsl(0, 0%, 59%);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}

.card > .stats {
  display: flex;
  flex-direction: row;
}

.stats div {
  margin: 15px 0px;
  flex: 1;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  text-align: center;
}

h3 > #age {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}

p {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}

.prof-img {
  margin-top: 89px;
  margin-left: 124px;
}

#profile-img {
  border-radius: 100%;
  border: 5px white solid;
}
